html
  head
    title Umar Dance Academy
    block scripts
    block style
  body
    nav#global-gn-navbar.nav-gn-built 
        ul 
            li #[a(href="/") Home] 
            li #[a(href="/") Timings] 
            li #[a(href="/") Join Us] 
            li #[a(href="/contact") Contact] 
            li #[a(href="/") Services] 
    block content
    block foot